<p class="login-box-msg">Forget your password?</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email address" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary", style: "margin-left: auto;margin-right:auto;width:100%;"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
