<li class="dropdown user user-menu">
            <a href="#" class="" data-toggle="dropdown", style="margin-right: 1em;">
              <img src="http://placehold.it/160x160" class="user-image" alt="User Image">
              <span class="hidden-xs"><%="#{current_user.first_name} #{current_user.last_name}"%></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="http://placehold.it/160x160" class="img-circle" alt="User Image">

                <p>
                  <%="#{current_user.first_name} #{current_user.last_name}"%>
                  <small>Member for <%= distance_of_time_in_words(current_user.created_at, Time.now) %></small>
                </p>
              </li>
              <!-- Menu Body 
              <li class="user-body">
                <div class="row">
                  <div class="col-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
              </li>-->
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                    <%=link_to "Profile", edit_user_registration_path, class:"btn btn-default btn-flat"%>
                </div>
                <div class="pull-right">
                    <%=link_to "Sign out", destroy_user_session_path, method: :delete, class:"btn btn-default btn-flat"%>
                </div>
              </li>
            </ul>
</li>