<%=render "layouts/shared/content/content_box", title: "Incoming/Outgoing Messages" do%>

    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
        <tr>
            <th>Trans Set</th>
            <th>Description</th>
            <th>Trading Partner</th>
            <th>Received On</th>
            <th>Status</th>
        </tr>
    <%CahasEdi::Core.messages.each do |message|%>

        <tr>
            <td><%=message.template.id%></td>
            <td><%=message.template.description%></td>
            <td><%=message.partner.name%></td>
            <td><%=message.date.strftime("%m/%d/%Y | %I:%M:%S %p")%></td>
            <td><%=message.status%></td>
        </tr>
    <%end%>
        </table>
    </div>

<%end%>