<!DOCTYPE html>
<html>
  <head>
    <title>CahasMountain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
    var Turbolinks = require("turbolinks")
    Turbolinks.start()
    </script>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>

  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/shared/header" %>
      <%= render "layouts/shared/sidebar" %>
      <div class="content-wrapper">
          <%= yield %>
      </div>
    </div>

  </body>
</html>
