<!DOCTYPE html>
<html>
<%=render "layouts/shared/html_head"%>

  <body class="hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/shared/header" %>
      <%= render "layouts/shared/sidebar" %>
      <div class="content-wrapper">
        <%= render "layouts/shared/content/content_header_section_footer" do%>
          <%= yield %>
        <%end%>
          <%= render "layouts/shared/copyright_version"%>
      </div>
    </div>

  </body>
</html>
